* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Roboto';
  align-items: center;
  justify-content: flex-start;
}
.top-holder {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 20px;
  height: 60px;
  background-color: #3367d6;
  align-items: center;
  flex-direction: row;
}
.image {
  width: 100px;
  margin-right: 21%;
}
.search-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 200px;
  width: 670px;
  padding: 10px;
  border-style: solid;
  background-color: #2850a7;
  height: 36px;
  border-width: 1px;
  border-color: #6697ff;
}
.search-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 20px;
}
.input-element {
  width: 600px;
  height: 35px;
  border-style: none;
  outline: none;
  border-left-style: solid;
  padding-left: 10px;
  border-left-color: #6697ff;
  background-color: transparent;
}
.content-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
  min-width: 400px;
  align-items: center;
}
.inner-holder {
  width: 100%;
  height: auto;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #ececec;
}
.items-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}
.time {
  color: #64748b;
  font-weight: bold;
  margin-right: 20%;
  min-width: 60px;
  font-size: small;
}
.icon-delete-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.logo-element {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.logo-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.name {
  color: #475569;
  margin-right: 20px;
  font-weight: bold;
  font-size: small;
}
.website {
  color: #64748b;
  font-size: small;
}
.delete-button {
  width: 40px;
  height: 40px;
  margin-left: auto;
  border-style: none;
  background-color: transparent;
  outline: none;
}
.delete-icon {
  width: 20px;
  height: 20px;
}
.empty-container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty-element {
  color: #64748b;
  font-size: 20px;
}
@media screen and (max-width: 576px) {
  .time {
    margin-right: 60%;
  }
  .logo-content {
    flex-direction: column;
    width: 250px;
    align-items: flex-start;
    justify-content: center;
  }
  .name {
    margin-bottom: -10px;
  }
}
